/*Estilos gerais*/
body{
    background-color: #f8f1e7;
    color: #5C4033;
}

/*Video*/
.hero-container{
    position: relative; /*Permite controlar a posição*/
    width: 100%;
    height: 70vh; /* Ocupa 70% da altura da tela do usuário */
    overflow: hidden; /* Impede que o vídeo vaze para fora do container */
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Ajuste de tamanho do vídeo*/
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta o vídeo proporcionalmente em qualquer tela */
    z-index: 1; /*Controla a ordem das camadas. 1 é a camada mais baixa*/
}
.hero-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(92, 64, 51, 0.55); /* Marrom Madeira com 55% de opacidade */
    z-index: 2; /* Camada do meio */
}

/*Texto sobre o video*/
.hero-conteudo{
    position: relative;
    z-index: 3; /* Camada mais alta */
    text-align: center;
    color: #F8F1E7; /* Creme */
    padding: 20px; /*Cria um espaçõ interno*/
    max-width: 800px;/*Define uma largura máxima*/
}

/*Titulo sobre o video*/
.hero-conteudo h2{
    color: #f8f1e7;
    text-align: center;
    font-size:3em;
    line-height: 1.3em;
}
.hero-slogan{
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.6em;
}

/*Botão principal*/
.hero-button{
background-color:#556B2F;
border-color: #ffffff;/*Cor da borda*/
color: #f8f1e7;/*Cor da fonte*/
font-size: 1.3em;
border-width: 1px 1px 1px 1px; /*espessura da borda*/
border-radius: 0px 0px 0px 0px;/*Arredondamento dos cantos da borda*/
padding: 18px 40px; /*espaço entre o texto e as bordas do botão*/
cursor: pointer; /*muda o cursor so mouse ao passar pelo botão*/
}

/*Transição no botão de reserva*/
.hero-button:hover {
background-color:#b84025;
border-color: #ffffff;
order-width: 3px 3px 3px 3px; /*espessura da borda*/
transition: background-color 3s ease;
}

/*Cabeçalho*/
header{
    background-color: #f9efe1;
    box-shadow: 0 2px 4px #556B2F;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between; /* coloca o menu a direita*/
    align-items: center; /* alinha o conteúdo*/
}

/* Menu de Navegação dentro do Hero */
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}
nav a {
    color: #556B2F;
    text-decoration: none; /*tira o azul do link*/
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}
nav a:hover{
    color: #7B2D26; /*Transição para o Bordô */
    text-decoration: underline; /*linha ao passar o mouse*/
}

/*Personalização do Conteúdo*/
section{
    background-color: #ffffff;
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 8px; /*arredonda a borda*/
    border-left: 6px solid #556B2F; /* Verde Oliva como destaque lateral */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);/*sombra leve*/
}
h2{
    color: #7B2D26; /*bordô*/
    font-size: 1.8rem;
    margin-top: 0;
    border-bottom: 2px solid #F8F1E7;/*linha abaixo do titulo da seção*/
}

/*Nossa História*/
.historia-conteudo{
    display: flex; /*colocas os elementos lado a lado*/
    align-items: center;
    justify-content: space-between;
    gap: 50px; /*Cria um espaço entre o texto e a foto*/
}
.historia-texto{
    flex: 1;/*Faz texto e imagem ocuparem espaços proporcionais*/
}
.paragrafo-principal{
    font-size: 1.2rem;
}
.paragrafo-secundario{
    font-size: 1.2rem;
}

/*Destaque da Semana*/
.destaque-semana {
    padding: 20px;
    border-radius: 6px; /*arredonda as bordas*/
    margin-top: 20px; /*Cria espaço acima da "caixa"*/
    border: 1px dashed #5C4033; /*borda fina, pontilhada e marrom*/
}

/*Titulo mais acima do texto*/
#nossa-historia h2{
    position: relative;
    top: -260px; /*subi o titulo da seção*/
}
.historia-conteudo figure{
    flex: 1;
    margin: 0;
}
.historia-conteudo img{
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

/*Imagens e Legendas*/
figure{
    margin: 20px 0;
    text-align: center; /*alinha imagem e legenda ao centro do site*/
}
img{
    height:auto;
     max-width: 100%;
     object-fit: cover
}
figcaption{
    color: #556B2F;
    font-size: 0.985rem;
}

/* Curiosidades (Aside)*/
.curiosidade-tomate {
    background-color: #556B2F; /* Verde Oliva */
    color: #F8F1E7;
    padding: 20px;
    margin-top: 25px;
    border-radius: 6px;
    margin-bottom: 25px /*espaço apos a curiosidade*/
}

.curiosidade-tomate h3 {
    color: #F8F1E7;
    margin-top: 0;
}
mark {
    background-color: #7B2D26; /*muda a cor do marcador*/
    color: #F8F1E7; /*cor do texto*/
    padding: 2px 6px; /*espaço dento do marcador*/
    border-radius: 3px; /*bordas levimente arredondadas*/
}

/*Tabela - Cardápio*/
table{
    width: 100%;
    border-collapse: collapse; /*define se as células dentro de um elemento têm bordas compartilhadas ou separadas*/
    margin: 25px 0;
}

caption {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 15px; /*Espaço abaixo do titulo da tabela*/
    color: #7B2D26;
    text-align: left;
}
th, td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #E5DCD0; /*Linhas na tabela*/
}
th {
    background-color: #5C4033; /*Cabeçalho da tabela marrom */
    color: #F8F1E7;
    font-weight: 600;
}
tr:hover {
    background-color: #F8F1E7; /*Efeito visual nas linhas ao passar o mouse*/
}
/*Horários de Funcionamento*/
details{
    background-color: #F8F1E7;
    padding: 15px;
    border-radius: 6px;
    margin: 20px 0;
    border: 1px solid #E5DCD0;
}
summary{
    cursor: pointer;
    font-weight: bold;
    color: #7B2D26;
}
/*Formulário*/
fieldset {
    border: 2px solid #5C4033; /*borda ao redor do formulário*/
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

legend {
    font-weight: bold;
    color: #7B2D26;
    padding: 0 10px;
    font-size: 1.1rem;
}

label {
    display: block; /*usado para fazer com que os elementos ocupem uma linha inteira*/
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    display: block;/* faz o campo de inserir informações ocupar a linha inteira*/
    width: 100%; /*ocupa todo espaço disponivel da seção*/
    box-sizing: border-box; /*tudo fca dentro do layout*/
    margin-bottom: 20px; /*espaço abaixo*/
    padding: 12px; /*espaço interno*/
    border: 1px solid #5C4033;
    border-radius: 4px; /*arredonda a borda*/
    background-color: #F8F1E7;
    color: #5C4033;
}

.botao-comum{
    display: inline-block;
    background-color: #7B2D26;
    color: #F8F1E7;
    border: none;
    font-weight: bold;
    font-size: 0.98rem;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}


.botao-comum:hover {
    background-color: #556B2F; /* Muda para Verde*/
}

/*Rodapé*/
.rodape-home {
    background-color: #5C4033; /* Marrom Madeira */
    color: #F8F1E7;
    padding: 40px 20px; /*espaço interno*/
    margin-top: 60px; /*cria um espaço antes do rodapé*/
    text-align: center;
}

address {
    font-style: normal;
    margin-bottom: 20px;
}

address p {
    margin: 5px 0; /*diminui o espaço entre o endereço, contato e telefone*/
}

.rodape-home a {
    color: #F8F1E7; /*coloca o hiperlink na cor creme*/
    text-decoration: underline; /*coloca uma linha abaixo do link*/
}

.rodape-home a:hover {
    color:#6d8445; /*muda o texto para verde*/
}

.copyright {
    font-size: 0.85rem;
    opacity: 0.8;
    margin: 0;
}